In [1]:
print("hello python")

hello python

## Data Types

In [ ]:
int           = any whole number (0-9)

float         = any decimal number (0.5, 1.99, 3.25)

str           = any printed values/ syntax "hello", '3423', "7#py", "    "

complex       = any number with combination of real and imagine number (2x+4y = 30),  (45+5j)
                                                                        
Bool          = True / False

List          = [ ],    ["py", 56, 55.77, 33+77j, True,{"jan" :31, "feb" :28, "march":31}]

tuple         = ( ),   ("py", 56, 55.77, 33+77j, True)

set           =  { },     {"py", 56, 55.77, 33+77j, True}

dict          =  { key : value},       {"jan" :31, "feb" :28, "march":31}   # key value pair

## Arithmatic Operators

In [ ]:
+ = add
- = sub
* = multi
/ = devision
% = mod
** = power
// = floor division

In [2]:
33%2

1

In [3]:
2**3

8

In [4]:
33//2

16

In [5]:
7//2

3

## Comparision Operators

==
>
<
>=
<=
!=

In [8]:
2 == 2

True

In [9]:
3>2

True

## Logical Operators

In [ ]:
and
or
not
in
not in
is 
is not

In [ ]:
T and T = T
T and F = F
F and T = F
F and F = F

In [ ]:
T or F = T
F or F = F
F or T = T
T or T = T

In [11]:
l = [3,7,9]

In [12]:
3 in l

True

In [13]:
3 not in l

False

In [15]:
2 is not 3

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\amitm\AppData\Local\Temp\ipykernel_3544\2231232904.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not 3

True

In [19]:
a = 20
b = 50
c = 20
d = 5

In [17]:
a +b

70

In [18]:
a + b /a

22.5

In [20]:
(a + b) * ( b - c)/ a + b   #bodmas

155.0

In [21]:
0/1

0.0

In [22]:
1/0

ZeroDivisionError: division by zero

## Variables

In [24]:
name = "python"

In [25]:
name

'python'

In [26]:
1name = "python"

SyntaxError: invalid decimal literal (4043814365.py, line 1)

In [27]:
name1 = "python"

In [28]:
name1

'python'

In [29]:
name@ = "python"

SyntaxError: invalid syntax (4074957369.py, line 1)

In [30]:
name_1 = "python"

In [31]:
$ = "python"

SyntaxError: invalid syntax (2083796670.py, line 1)

In [32]:
_ = "python"

In [33]:
_

'python'

In [34]:
fisrt name = "amit"

SyntaxError: invalid syntax (1077948173.py, line 1)

In [35]:
fisrt-name = "amit"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1962395652.py, line 1)

In [36]:
fisrt_name = "amit"

In [37]:
_1 = "amit"

In [38]:
a = 10,20, 30

In [39]:
a, b, c = 10,20, 30

In [40]:
### 1. `and` Operator

#The `and` operator returns `True` if both operands are `True`, otherwise it returns `False`.

# Example with 'and' operator
x = 5	
y = 10

result = (x > 0) and (y < 20)  # True because both conditions are True
print(result)  # Output: True

True

In [41]:
result = (x > 0) and (y > 20)  # False because y > 20 is False
print(result)  # Output: False

False

In [42]:
# Example with boolean variables
is_adult = True
has_license = False

can_drive = is_adult and has_license
print(can_drive)  # Output: False because has_license is False

False

In [43]:
### 3. `not` Operator

#The `not` operator is used to negate a Boolean expression. It returns `True` if the expression is `False`, and `False` if the expression is `True`.

# Example with 'not' operator
x = 5
y = 10

result = not (x > 0)  # False because x > 0 is True
print(result)  # Output: False

False

In [44]:
result = not (y < 20)  # False because y < 20 is True
print(result)  # Output: False

# Example with boolean variable
is_adult = False

is_minor = not is_adult
print(is_minor)  # Output: True because is_adult is False

False
True

In [45]:
# Example of precedence
x = 5
y = 10
z = 15

result = x > 0 and y < 20 or z == 15  # True because (x > 0 and y < 20) is True
print(result)  # Output: True

True

In [46]:
x == 2 and y <20 and z > 10

False

In [47]:
x == 2 and y <20 or z > 10 and z == 14

False

In [48]:
### 1. `is` Operator

#The `is` operator is used to test object identity. It checks if two variables point to the same object in memory.

a = [1, 2, 3]
b = a  # b is assigned to the same object as a

print(a is b)  # Output: True

c = [1, 2, 3]
print(a is c)  # Output: False, because c is a different object than a

True
False

In [49]:
name = "amit"

In [50]:
number = 55

In [51]:
ele_list = [3,48,"py"]

In [52]:
type(name)

str

In [53]:
type(ele_list)

list

In [54]:
type(number)

int

In [55]:
var = "amit"

In [56]:
type(var)

str

In [57]:
var = 76687

In [58]:
type(var)

int

In [59]:
var

76687

In [61]:
len(var)

TypeError: object of type 'int' has no len()

In [62]:
len(ele_list)

3

In [63]:
len(name)

4

## bitwise operators

In [64]:
a = 1

In [69]:
a += 1

In [70]:
a

4

In [73]:
a -= 1

In [74]:
a

2

In [ ]:
a = a + 1
a = a - 1

## DataType Casting:-

In [75]:
name

'amit'

In [76]:
ele_list

[3, 48, 'py']

In [77]:
int(name)

ValueError: invalid literal for int() with base 10: 'amit'

In [78]:
number

55

In [79]:
str(number)

'55'

In [82]:
var2 = tuple(ele_list)

In [83]:
var2

(3, 48, 'py')

In [84]:
set(var2)

{3, 48, 'py'}

In [85]:
dict(var2)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [91]:
l = [("a1" ,2), ("b1" , 4)]

In [92]:
dict(l)

{'a1': 2, 'b1': 4}

In [93]:
ste1 = '765'

In [94]:
int(ste1)

765

In [95]:
f = 8.99

In [96]:
int(f)

8

## Iterable

In [ ]:
str
list
tuple
set
dict