For loop
While loop
iter

In [ ]:
iteration 
iterable
itertor

In [ ]:
(str
list
tuple
set
dict)   = iterable

In [ ]:
for, while, iter  = iterator

In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [3]:
for i in l:
    print(i+1)

2
3
4
5

TypeError: can only concatenate str (not "int") to str

In [4]:
for i in l:
    print("py")

py
py
py
py
py
py
py

In [6]:
str1= "python"


for i in str1 :
    print("C++")

C++
C++
C++
C++
C++
C++

In [7]:
a = [45653]


for i in a:
    print(i)

45653

In [8]:
a = 45653


for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [9]:
d = 64 + 6j

for i in d:
    print(i)

TypeError: 'complex' object is not iterable

In [11]:
for x in range(10):
    print(x+1, "Python")

1 Python
2 Python
3 Python
4 Python
5 Python
6 Python
7 Python
8 Python
9 Python
10 Python

In [14]:
for x in range(10):
    print("Python", end = " ")

Python Python Python Python Python Python Python Python Python Python

In [15]:
for i in l :
    pass
    print(i)

1
2
3
4
sudh
kumar
45.56

In [16]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [17]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [18]:
for i in l :
    if i == 4 :
        continue
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [19]:
for i in l :
    if i == 4 :
        pass
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
4
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [20]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [21]:
s = "sudnhanshu"
for i in s :
    if i == 'n' :
        continue
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
s
h
u
print srtring  sudnhanshu

In [22]:
t = (4,5,6,7,8,6,"sudh")

for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [23]:
b = {4,5,6,7,7,7,7,7,7,7, 8,"sudh"}
for i in b:
    print(i)

4
5
6
7
8
sudh

In [24]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [25]:
for i in d:
    print(i)

key1
contact
position

In [26]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'gmail')
('position', 'mentor')

In [27]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [28]:
d

{'key1': 'sudh', 'contact': 'gmail', 'position': 'mentor'}

In [29]:
d["key1"]

'sudh'

In [32]:
for i in d :
    print(i,":",  d[i])

key1 : sudh
contact : gmail
position : mentor

In [36]:
for i in range(1,20,2):
    print(i**2, end = "--")

1--9--25--49--81--121--169--225--289--361--

In [37]:
for i in range(5):
    for j in range(i):
        print(j)
    print(i)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4

In [38]:
range(1)

range(0, 1)

In [39]:
n = 4

for i in range(n) :            # 0,1,2,3
    for j in range(0, i+1) :   # 0,2, 3, 4
        print("DA" , end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA

# python-
# datatypes and methods
# Condition
# Loop
# User Defined Function
# Inbuild Function
# File Handlinf and OS
# math, Regular Expression, Statistics, Datetime
# Pandas
# Numpy
# Matplotlib
# Seaborn