In [1]:
my_number_list = range(3,8)
my_number_list
len(my_number_list)

5

In [2]:
n = 5

while n < 10:
    print(n)
    n+=1

5
6
7
8
9

In [3]:
i = 0

while i < len(my_number_list):
    print( i, my_number_list[i])
    i = i+1
    
print("Length of list ", len(my_number_list))

0 3
1 4
2 5
3 6
4 7
Length of list  5

In [4]:
i = 0
while i < 3:
    print(i)
    i+=1

0
1
2

In [5]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name :  rahul

You entered  rahul

Enter the name :  vijay

You entered  vijay

Enter the name :  aarti

You entered  aarti

In [6]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop : quit

You entered  quit

Enter the name (use 'Quit' to stop : pass

You entered  pass

Enter the name (use 'Quit' to stop : stop

You entered  stop

Enter the name (use 'Quit' to stop : Quit

In [7]:
# Example
i = 0           #iteration variable initialized

while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [8]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        break   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

In [9]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        pass  # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [10]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        continue   # no more further execution of the loop, once i is greater than 4 
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4

KeyboardInterrupt:

In [12]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop ) quit

quit

Enter the stmt (Use 'Quit' to stop ) #quit
Enter the stmt (Use 'Quit' to stop ) #QUit
Enter the stmt (Use 'Quit' to stop ) Quit

Quit

In [13]:
#Example : print Hello five times
for i in range(5):
    print("Hello", i+1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [14]:
for i in range(3):
    number = int(input("Enter the number"))
    print("the cube is " , number*number*number )

Enter the number 22

the cube is  10648

Enter the number 3

the cube is  27

Enter the number 5

the cube is  125

In [15]:
for i in range(5):
    print("(i)  ", i, "(number) " , i+1)

(i)   0 (number)  1
(i)   1 (number)  2
(i)   2 (number)  3
(i)   3 (number)  4
(i)   4 (number)  5

In [16]:
for i in range(99, 50, -5):
    print(i)

99
94
89
84
79
74
69
64
59
54

In [21]:
squares = [0, 1, 6, 9, 12]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  6
index :  3    value :  9
index :  4    value :  12

In [22]:
squares = [0, 1, 40, 90, 16, 20]

for i, j in enumerate(squares):
    print("index : ", i, "  ", "value : " , j)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  40
index :  3    value :  90
index :  4    value :  16
index :  5    value :  20

In [23]:
for i, j in enumerate(range(10)):
    print(i, "-", j)

0 - 0
1 - 1
2 - 2
3 - 3
4 - 4
5 - 5
6 - 6
7 - 7
8 - 8
9 - 9

In [24]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i])

0 J
1 a
2 s
3 m
4 i
5 n
6
7 s
8 h
9 e
10 i
11 k
12 h

In [25]:
S = "Jasmin"
for i in range(len(S)-1 , -1, -1):
    print(i , S[i])

5 n
4 i
3 m
2 s
1 a
0 J

In [26]:
d = {1: "Nikita", 2: "mayuri", 3:"jasmin", 4:"aarti", 5:"pratiksha"}

In [27]:
for i in d.items():
    print(i , type(i) , type(i[0]))

(1, 'Nikita') <class 'tuple'> <class 'int'>
(2, 'mayuri') <class 'tuple'> <class 'int'>
(3, 'jasmin') <class 'tuple'> <class 'int'>
(4, 'aarti') <class 'tuple'> <class 'int'>
(5, 'pratiksha') <class 'tuple'> <class 'int'>

In [28]:
i= 0
while i <  4:
    for j in range(i):
        print(j)
    i+=1

0
0
1
0
1
2

In [32]:
list(range(3))

[0, 1, 2]

In [33]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

In [34]:
for i in d.items():
    print(i, " ", type(i), type(i[0]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'>

In [35]:
for i in d.items():
    print(i, " ", type(i), type(i[1]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'list'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'tuple'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'list'>

In [36]:
for i in d.items():
    print(i, " ", type(i), type(i[2]))

IndexError: tuple index out of range

In [40]:
d4 = {1: ([["a","b"],1,2],"Nikita","mayuri"), 2: ([[2,"b"],"k1",2000, 8, 55],"mayuri","nikita")}

In [38]:
for i in d4.values():
    for j in i:
        if type(j) == str: 
            print(j)

Nikita
mayuri
mayuri
nikita

In [41]:
for i in d4.values():
    for j in i:
        if type(j) == list: 
            for k in j:
                if type(k) == int:
                    print(k)

1
2
2000
8
55

In [42]:
d5 = {3:3, 4:"kjshdf", "key1":"sudh", "key1":"kumar"}
for k,v  in d5.items():
        print(k,v)

3 3
4 kjshdf
key1 kumar