In [1]:
times = int(input("Enter the height of triangle\n"))

print()

items = []
for i in range(times,20,2):
    items.append(i+1)

Enter the height of triangle
 2

In [2]:
items

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
for j in items:
    print((2*j-j)* " ", j * "*")

    ***
      *****
        *******
          *********
            ***********
              *************
                ***************
                  *****************
                    *******************

In [7]:
rows = 5

for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4

In [9]:
range(8)

range(0, 8)

In [12]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
rows = 10
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print(' ')

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

In [17]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [18]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [20]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")

        *       * *     * * *   * * * * * * * * *

In [21]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [23]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [24]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [31]:
for i in range(11,1,-2):
    print(i)

11
9
7
5
3

In [35]:
num = int(input())
l1 = []
for i in range(num):
    l1.append(i)
print(l1)    
sum(l1)

 21

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

210

In [32]:
list = [3,4,5]

In [33]:
sum(list)

12

In [36]:
numbers = [12, 75, 150, 180, 145, 525, 50]

In [37]:
for i in numbers:
    if i == 75 or i == 150 or i == 145:
        print(i)

75
150
145

In [38]:
list1 = [10, 20, 30, 40, 50]

In [40]:
for i in reversed(list1):
    print(i)

50
40
30
20
10

In [42]:
for i in range(1,6):
    print(i)
else:
    print("done!")

1
2
3
4
5
done!

In [ ]:
for i in range(25, 51):
    if i%2!=0 and  i%3!=0 and  i%5!=0 and  i%7!=0 and  i%9!=0 :
        print(i)