In [1]:
class person3 :
    
    def __init__(self , name ,surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [2]:
obj = person3("amit", 'kumar', 2000)

In [8]:
obj.yob1

2000

In [9]:
obj._name1

'amit'

In [10]:
obj.__surname1

AttributeError: 'person3' object has no attribute '__surname1'

In [11]:
obj._person3__surname1

'kumar'

#### Inheretence

In [12]:
class person4:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob


class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [13]:
obj1 = person4()

In [14]:
obj2 = employee()

In [15]:
obj1.age(2024)

34

In [16]:
obj2.name

'amit'

In [17]:
obj2.surname

'singh'

In [18]:
obj2.age(2025)

34

In [ ]:
class car :                 #perent class   
                         # inheritence 
    def __init__(self , body , engin , tyre):
        self.body = body
        self.engin = engin
        self.tyre = tyre

    def milage (self):
        print("milage of this car ") 
        
        
class tata(car):                #child class
    pass

t = tata("solid1" , "v8" , "radial1")
print(t)
print(t.milage())

#### Multilevel Inheritence

In [19]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass                        

# multilevel inheritence

In [20]:
obj7 = bank()
obj8 = HDFC_bank()
obj9 = icici()

In [21]:
obj9.deposite()

this will show your deposited amount

#### Multiple

In [22]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test methond form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(bank, HDFC_bank, ineron_bank):      # multiple inheritence
    pass

In [23]:
obj10 = bank()

In [24]:
obj11 = HDFC_bank()

In [25]:
obj12 = ineron_bank()

In [27]:
obj13 = icici()

In [29]:
obj13.test()

this is a test methond form bank class

#### data abstraction

In [38]:
class ineuron1:
    __students = "data science"       #data abstraction 

    def studetns(self):
        print(ineuron1.__students)

In [39]:
i = ineuron1()
i.studetns()
print(i.__students)

data science

AttributeError: 'ineuron1' object has no attribute '__students'

In [40]:
i = ineuron1()
i.studetns()
print(i._ineuron1__students)

data science
data science

In [41]:
class ineuron2:                      # encpsulation 
    def __init__(self):
        self.students1 = "data science"

    def students(self):
        print(self.students1)



class ineuron3:
    def __init__(self):
        self.__students1 = "data science "

    def students(self):
        print(self.__students1)
        
    def student_change(self,new_value):
        self.__students1 = new_value

In [42]:
i = ineuron2()
i.students()

data science

In [43]:
i.students1 = "data analytics"
i.students()

data analytics

In [44]:
i1 = ineuron3()
i1.students()

data science

In [45]:
i1.students1 = "data analytics"
i1.students()

data science

In [46]:
i1._ineuron3__students1 = "data analytics"
i1.students()

data analytics

### polymorphism

In [47]:
class ineuron4:
    def students(self):
        print("print a students details ")

class class_type :
    def student(self):
        print("print the class type of students")

In [48]:
def ineuron_external(a,b):
    a.students()
    b.student()

In [49]:
obj4 = ineuron4()

In [50]:
obj5 = class_type()

In [52]:
obj4.students()

print a students details

In [53]:
obj5.student()

print the class type of students

In [54]:
ineuron_external(obj4, obj5)

print a students details
print the class type of students