## Special Character

In [1]:
# \n new line
print("Hello\nWorld")

Hello
World

In [2]:
# \t tab space
print("Name:\tAlice")

Name:	Alice

In [ ]:
# \\ (Backslash)

path = "C:\\Users\\John\\Documents"
print(path)

In [ ]:
# \\ (Backslash)

path = "C:/Users/John/Documents"
print(path)

In [3]:
# \' and \" (Single and Double Quotes)

# Using \' to include a single quote inside a string

message = 'He said, \'Hello!\''
print(message)

He said, 'Hello!'

In [4]:
# Using \" to include a double quote inside a string
quote = "She said, \"Hi!\""
print(quote)

She said, "Hi!"

In [5]:
message = 'He said, 'Hello!''
print(message)

SyntaxError: invalid syntax (2646504715.py, line 1)

In [6]:
message = 'He said, "Hello!"'
print(message)

He said, "Hello!"

In [13]:
# \r (Carriage Return)

print("Hello \r World python")

 World python

## String Formating:-
	
Old-Style String Formatting (% Formatting)
Old-style formatting uses the % operator to insert values into a string template. It's less recommended for new code due to its limitations compared to str.format() and f-strings.

In [17]:
# 1.Basic Syntax: Use % followed by a tuple of values or a single value (if only one placeholder) to substitute into the string.
name = "Alice"
lastname = "david"
age = 30
formatted_string = "My name is %s %s and I am %d years old." % (lastname, name, age)

formatt = "My name is", lastname, name, "and I am", age, "years old."

In [19]:
formatted_string

'My name is david Alice and I am 30 years old.'

In [20]:
formatt

('My name is', 'david', 'Alice', 'and I am', 30, 'years old.')

In [43]:
#Formatting Options:
# %s for strings
# %d for integers
# %.f for floating-point numbers
# %x, %o, %e, %g for hexadecimal, octal, exponential, and general floating-point formats respectively.

number = 3.14159
formatted_number = "The value of pi is approximately %.20f" % number
print(formatted_number)

The value of pi is approximately 3.14158999999999988262

In [29]:
#2. str.format() Method
#Introduced in Python 2.7, str.format() provides more flexibility and readability compared to % formatting. It allows for positional arguments, keyword arguments, and more control over formatting.

#Basic Syntax: Use {} placeholders inside the string and call .format() with arguments.
		 
name = "Bob"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(age, name)
print(formatted_string)  # Output: 'My name is Bob and I am 25 years old.'

My name is 25 and I am Bob years old.

In [30]:
#Positional and Keyword Arguments:

#Positional arguments:

formatted_string = "First: {1}, Second: {0}".format("A", "B")
formatted_string

'First: B, Second: A'

In [31]:
#Keyword arguments:

formatted_string = "Name: {name}, Age: {age}".format(name="Alice", age=30)
formatted_string

'Name: Alice, Age: 30'

In [46]:
#Formatting Options:

# {} for positional arguments
# {name} for keyword arguments
# {index:format_spec} for specifying formatting options (:format_spec is optional).

pi = 3.14159
formatted_number = "The value of pi is approximately {:.2f}".format(pi)

print(formatted_number)  # Output: 'The value of pi is approximately 3.14'

The value of pi is approximately 3.14

In [38]:
pi

3.14159

In [44]:
import math

In [45]:
math.pi

3.141592653589793

## Comparison and Recommendations
#Readability: F-strings offer the most readable syntax.
#Flexibility: F-strings support complex expressions and function calls directly inside {}.
#Performance: F-strings are generally faster than both % formatting and str.format().

In [47]:
# f-string

name = "Alice"
age = 30
occupation = "engineer"

# Using f-string to format the output

sentence = f"My name is {name}, I am {age} years old, and I work as an {occupation}."
print(sentence)

My name is Alice, I am 30 years old, and I work as an engineer.

In [50]:
f"hello {name} {age} {name}"

'hello Alice 30 Alice'

In [52]:
a, b,c = 10, 20,30

In [53]:
print(a)
print(b)
print(c)

10
20
30

In [54]:
print(a, b,c)

10 20 30

In [60]:
print(a, end= " ")
print(b, end = " ")
print(c)

10 20 30

In [61]:
sttr = "%s for strings"

In [62]:
sttr

'%s for strings'

In [64]:
sttr1 = """#Readability: F-strings offer the most readable syntax. #Flexibility: 
F-strings support complex expressions and function calls directly inside {}.
Performance: F-strings are generally faster than both % formatting and str.format()."""

In [66]:
print(sttr1)

#Readability: F-strings offer the most readable syntax. #Flexibility:
F-strings support complex expressions and function calls directly inside {}.
Performance: F-strings are generally faster than both % formatting and str.format().

In [85]:
def square(num):
    """this square function
     used to square number"""
    return num**2

In [86]:
square(4)

16